<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movies List</title>
  <link rel="stylesheet" href="styles/moviegenre.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap" rel="stylesheet">

</head>
<body class="body">
  <div class="select">
    <p> Select Genre </p>
  </div>

<div class="buttonList">

<form method="post" action="/genre">
    <button name = "Comedy" class="comic-button">comedy</button>
    <button name = "Fantasy" class="comic-button">fantasy</button>
    <button name = "Crime" class="comic-button">crime</button>
    <button name = "Drama" class="comic-button">drama</button>
    <button name = "Music" class="comic-button">music</button>
    <button name = "Adventure" class="comic-button">adventure</button>
</form>

<form method="post" action="/genre">

    <button name = "History" class="comic-button">history</button>
    <button name = "Thriller" class="comic-button">thriller</button>
    <button name = "Animation" class="comic-button">animation</button>
    <button name = "Family" class="comic-button">family</button>
    <button name = "Mystery" class="comic-button">mystery</button>
    <button name = "Biography" class="comic-button">biography</button>

  </form>

  <form method="post" action="/genre">

    <button name = "Action" class="comic-button">action</button>
    <button name = "Film-Noir" class="comic-button">filmnoir</button>
    <button name = "Romance" class="comic-button">romance</button>
    <button name = "Sci-Fi" class="comic-button">scifi</button>
    <button name = "War" class="comic-button">war</button>
    <button name = "Western" class="comic-button">western</button>

  </form>

  <form method="post" action="/genre">

    <button name = "Horror" class="comic-button">horror</button>
    <button name = "Musical" class="comic-button">musical</button>
    <button name = "Sport" class="comic-button">sport</button>

  </form>
    

  </form>

</div>







  
</body>
</html>