.form {
  --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #FF5580;
  padding: 20px;
  background: #FFAA80;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  width:300px;
}

body{
  background-color: #FFFF80;
}

.title {
  color: #FFFF80;
  font-weight: 900;
  font-size: 50px;
  margin-bottom: 25px;
  font-family:"Reenie Beanie";
}

.title span {
  
  font-weight: 600;
  font-size: 40px;
  font-family:"Reenie Beanie";
}


.input {
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 35px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
  font-family:"Reenie Beanie";
}

.input::placeholder {
  font-family:"Reenie Beanie";
  color: black;
  opacity: 0.8;
  font-size:35px;
}

.input:focus {
  font-family:"Reenie Beanie";
  border: 2px solid var(--input-focus);
}

.login-with {
  display: flex;
  gap: 20px;
}

.button-log {
  font-family:"Reenie Beanie";
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  color: #FFFF80;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 24px;
  height: 24px;
  fill: var(--main-color);
}

.button-log:active, .button-confirm:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}

.button-confirm {

  margin: 50px auto 0 auto;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: #FFAA80;
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  font-family:"Reenie Beanie";
  color:#FFFF80;
  cursor: pointer;
}

.container{
  font-family:"Reenie Beanie";
  display:flex;
  flex-direction: column;
  gap:30px;
  justify-content: center;
  height:100vh;
  align-items: center;
}

.status{
  font-family:"Reenie Beanie";
  font-size:50px;
}